<!DOCTYPE html>
<head>
   <title>TechGreen Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <meta http-equiv="refresh" content=3; URL="main.htm">
</head>

<body>
   <h1>GPS position of your bike</h1>
   <img align="right-side" src="{{url_for('static', filename=image_file)}}" width=640p height=480/>
   <h2> <strong>{{ message }} </strong></h2>

       {% if pins[22].state == true %}
           <strong>openning server ...</strong></h2><div class="row"><div class="col-md-2">
           <a href="/{{22}}/close" class="btn btn-block btn-lg btn-primary" role="button">Close TCP</a></div></div>
       {% else %}
           <strong>closing server ...</strong></h2><div class="row"><div class="col-md-2">
           <a href="/{{22}}/open" class="btn btn-block btn-lg btn-default" role="button">Open TCP</a></div></div>
       {% endif %}
</body>
</html>

